---
import PostLayout from '../../layouts/PostLayout.astro';
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const posts = await getCollection('posts');
// Сортируем по дате (новые сверху)
const sortedPosts = posts.sort(
  (a, b) => new Date(b.data.pubDate) - new Date(a.data.pubDate)
);

const currentIndex = sortedPosts.findIndex(p => p.slug === post.slug);

const prevPost = sortedPosts[currentIndex + 1];
const nextPost = sortedPosts[currentIndex - 1];

  return posts.map(post => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<PostLayout content={post.data}>
  <article>
    <h1>{post.data.title}</h1>
    <Content />
  </article>
</PostLayout>

<section style="margin-top:3rem; padding-top:2rem; border-top:1px solid #eee;">
  <div style="display:flex; justify-content:space-between; gap:1rem;">
    
    {prevPost && (
      <a href={`/blog/${prevPost.slug}/`}>
        ← {prevPost.data.title}
      </a>
    )}

    {nextPost && (
      <a href={`/blog/${nextPost.slug}/`} style="margin-left:auto;">
        {nextPost.data.title} →
      </a>
    )}

  </div>
</section>

