---
import SEO from '../components/SEO.astro';

const {
  title,
  description,
  canonical,
  publishedTime,
  modifiedTime,
  schema
} = Astro.props;
---

<html lang="ru">
<head>

<SEO
title={title}
description={description}
canonical={canonical}
publishedTime={publishedTime}
modifiedTime={modifiedTime}
/>

{schema && (
<script type="application/ld+json">
{JSON.stringify(schema)}
</script>
)}

</head>

<body>

<slot />

</body>
</html>